body{ 
    background: linear-gradient(rgba(17, 141, 28, 0.6), rgba(17, 141, 28, 0.6)), url(imgs/nybackground.jpg), no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.linksFormat{
    text-align: center;
    color: rgb(236, 227, 227);
}

.linksFormat:hover{
    color: rgb(184, 160, 160);
}

.font{
    font-weight: bold;
    color: blue;
    -webkit-text-stroke: 0.15px orangered;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.error{
    color: red;
    font-weight: bold;
    -webkit-text-stroke: 0.15px black;
}

.width{
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    width: 50%;
    text-align: center;
}

.button{
    width: 100px;
}

.redirectLink a{
    color: red;
    font-weight: bold;
    -webkit-text-stroke: 0.15px black;
}

.indexh1{
    font-weight: bold;
    color: blue;
    -webkit-text-stroke: 0.5px orangered;
    font-size: 100px;
    text-align: center;
    margin-top: 150px
}

footer{
    color: rgb(236, 227, 227);
    font-size: 20px;
}

.errorId{
    font-size: 50px;
    color:red;
    font-weight: bold;
}

.male{
    color: blue;
}

.female{
    color: palevioletred;
}

.other{
    color: darkslategrey;
}